
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  margin-top: 0px;
}

.titulo {
  color: rgb(224, 229, 235);
  background-color: rgba(28, 78, 119, 0.76);
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  padding: 10px;
  margin: 0px 0px;
  font-size: 50px;
}

#logo {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background: url(../images/unmsm-banner.png) no-repeat center;
  background-size: cover;
  background-position: center center;
  background-size: 100% auto;
  position: relative;
}

.informacion{
  color: rgba(23, 67, 104, 0.76) !important;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  margin: 0px 0px;
  font-size: 30px;
}

#logo img {
  width: 10x;
  background-color: rgb(255, 255, 255);
}

#logo p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  font-size: 30px;
  color: #fff;
  padding: 0 150px;
  -webkit-text-stroke: 2px black;
}

.subtitulo {
  text-align: center;
  font-family: "Prompt", sans-serif;
}

.FISI img {
  height: 70px;
  display: block;
}

/* Estilos para el navbar */
nav {
  background-color: rgb(120, 180, 230);
  border-bottom: 10px solid #014763;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  color: rgb(255, 255, 255) ;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(120, 180, 230);
  color: rgb(255, 255, 255);
}

nav li {
  float: left;
  color: rgb(255, 255, 255);
}

nav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border-right: 1px solid rgb(40, 105, 85); */
  /* line-height: 50%; */
}

nav li a:hover {
  text-decoration: none;
  background-color: #286955;
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
}

.lastA {
  border-right: none;
}

.dropdown .btn {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

.dropdown .btn:hover {
  background-color: #286955;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 0;
  transition-duration: 0.4s;
}



/* Estilos para la sección de fotos */
#seccionFotos {
  background-image: url("../images/leafs.png");
  height: 1000px;
  background-size: 300px;
  /* background-color: rgba(255, 255, 255, 0.7); */
  padding: 52px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#seccionFotos .subtitulo {
  font-size: 3rem;
  border: 5px solid black;
  padding: 20px 100px;
  /* background-color: white; */
}

#fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 2400px;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 50px 0;
}

.foto p {
  width: 50%;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: "Sarala", sans-serif;
}

#fotos img {
  width: 650px;
  height: 500px;
  margin: 20px 100px;
}

#foto1 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMTguNywtMzEuOEMyMy44LC0yOS40LDI3LjQsLTIzLjYsMzIsLTE3LjhDMzYuNiwtMTEuOSw0Mi4yLC02LDQyLC0wLjFDNDEuOCw1LjcsMzUuNywxMS40LDMwLjMsMTUuOEMyNC44LDIwLjIsMjAsMjMuMywxNS4xLDI2LjRDMTAuMiwyOS42LDUuMSwzMi45LC0xLjQsMzUuM0MtNy45LDM3LjgsLTE1LjksMzkuNSwtMjAuMywzNi4xQy0yNC43LDMyLjYsLTI1LjYsMjMuOSwtMjkuNCwxNy4xQy0zMy4zLDEwLjIsLTQwLjIsNS4xLC00MC45LC0wLjRDLTQxLjYsLTUuOSwtMzYuMSwtMTEuOCwtMzEuNCwtMTcuNEMtMjYuOCwtMjMsLTIzLjEsLTI4LjMsLTE4LjEsLTMwLjhDLTEzLC0zMy4zLC02LjUsLTMyLjgsMC4xLC0zMy4xQzYuOCwtMzMuMywxMy41LC0zNC4yLDE4LjcsLTMxLjhaIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MCA1MCkiIHN0cm9rZS13aWR0aD0iMCIgc3R5bGU9InRyYW5zaXRpb246IGFsbCAwLjNzIGVhc2UgMHM7Ij48L3BhdGg+CiAgICAgICAgICAgICAgPC9zdmc+);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#foto2 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMTUuNCwtMjUuMkMyMC45LC0yMy40LDI3LC0yMS4zLDI5LjksLTE3QzMyLjgsLTEyLjcsMzIuNiwtNi40LDM0LjIsMC45QzM1LjcsOC4xLDM5LDE2LjMsMzYuNCwyMS4yQzMzLjksMjYuMiwyNS41LDI3LjksMTguNSwyOC43QzExLjQsMjkuNiw1LjcsMjkuNSwtMS4xLDMxLjNDLTcuOCwzMy4xLC0xNS42LDM2LjksLTIyLjUsMzZDLTI5LjQsMzUsLTM1LjIsMjkuNCwtMzcuMywyMi42Qy0zOS40LDE1LjgsLTM3LjgsNy45LC0zNi44LDAuNkMtMzUuOCwtNi44LC0zNS41LC0xMy41LC0zMywtMTkuN0MtMzAuNiwtMjUuOSwtMjYsLTMxLjQsLTIwLjEsLTMzQy0xNC4yLC0zNC41LC03LjEsLTMyLjEsLTEuMSwtMzAuMkM0LjksLTI4LjMsOS45LC0yNywxNS40LC0yNS4yWiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTAgNTApIiBzdHJva2Utd2lkdGg9IjAiIHN0eWxlPSJ0cmFuc2l0aW9uOiBhbGwgMC4zcyBlYXNlIDBzOyI+PC9wYXRoPgogICAgICAgICAgICAgIDwvc3ZnPg==);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#foto3 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMjEuMSwtMzUuOUMyOCwtMzIuNiwzNC42LC0yOC4yLDM4LjIsLTIyQzQxLjgsLTE1LjksNDIuMiwtNy45LDQwLjEsLTEuM0MzNy45LDUuNCwzMy4xLDEwLjksMjguNCwxNS4xQzIzLjgsMTkuNCwxOS4zLDIyLjUsMTQuNSwyNy4zQzkuOCwzMi4xLDQuOSwzOC43LC0xLjMsNDFDLTcuNSw0My4yLC0xNS4xLDQxLjIsLTIxLjQsMzcuM0MtMjcuNywzMy40LC0zMi44LDI3LjcsLTM3LjIsMjEuMUMtNDEuNSwxNC42LC00NSw3LjMsLTQ1LjcsLTAuNEMtNDYuNSwtOC4yLC00NC41LC0xNi4zLC0zOSwtMjFDLTMzLjYsLTI1LjYsLTI0LjgsLTI2LjcsLTE3LjgsLTI5LjlDLTEwLjcsLTMzLjIsLTUuMywtMzguNiwwLjksLTQwLjFDNy4xLC00MS42LDE0LjIsLTM5LjMsMjEuMSwtMzUuOVoiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwIDUwKSIgc3Ryb2tlLXdpZHRoPSIwIiBzdHlsZT0idHJhbnNpdGlvbjogYWxsIDAuM3MgZWFzZSAwczsiPjwvcGF0aD4KICAgICAgICAgICAgICA8L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#foto4 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMTksLTMyLjNDMjQuNywtMjkuNSwyOS43LC0yNC43LDMzLjcsLTE5QzM3LjcsLTEzLjMsNDAuOCwtNi43LDQxLjgsMC42QzQyLjksNy45LDQyLDE1LjgsMzguNiwyMi43QzM1LjMsMjkuNSwyOS41LDM1LjQsMjIuNywzOC44QzE1LjksNDIuMyw3LjksNDMuNCwxLjUsNDAuOUMtNSwzOC4zLC0xMCwzMi4yLC0xNC43LDI3LjVDLTE5LjQsMjIuOCwtMjMuOSwxOS41LC0yOCwxNS4yQy0zMi4xLDEwLjksLTM1LjksNS40LC0zNi4yLC0wLjJDLTM2LjUsLTUuOCwtMzMuMywtMTEuNiwtMjkuOCwtMTYuOUMtMjYuMiwtMjIuMSwtMjIuMiwtMjYuOSwtMTcuMiwtMzAuMUMtMTIuMiwtMzMuNCwtNi4xLC0zNS4xLDAuMywtMzUuNkM2LjYsLTM2LDEzLjIsLTM1LjEsMTksLTMyLjNaIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MCA1MCkiIHN0cm9rZS13aWR0aD0iMCIgc3R5bGU9InRyYW5zaXRpb246IGFsbCAwLjNzIGVhc2UgMHM7Ij48L3BhdGg+CiAgICAgICAgICAgICAgPC9zdmc+);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#foto5 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMjAuOCwtMzdDMjUuNywtMzMuMSwyNy43LC0yNS4xLDMxLjcsLTE4LjNDMzUuNywtMTEuNCw0MS42LC01LjcsNDIuNCwwLjVDNDMuMyw2LjcsMzkuMSwxMy40LDMzLjcsMTcuOEMyOC4zLDIyLjEsMjEuNywyNC4xLDE1LjksMjcuNUMxMCwzMSw1LDM1LjgsLTEuMSwzNy44Qy03LjMsMzkuOCwtMTQuNiwzOC45LC0xOS43LDM1Qy0yNC43LDMxLjIsLTI3LjYsMjQuNCwtMzEuNywxOEMtMzUuOSwxMS43LC00MS40LDUuOCwtNDEuNiwtMC4xQy00MS44LC02LjEsLTM2LjYsLTEyLjEsLTMxLjYsLTE2LjlDLTI2LjUsLTIxLjYsLTIxLjQsLTI1LC0xNi4yLC0yOC43Qy0xMC45LC0zMi40LC01LjUsLTM2LjUsMS4yLC0zOC42QzcuOSwtNDAuOCwxNS44LC00MC45LDIwLjgsLTM3WiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTAgNTApIiBzdHJva2Utd2lkdGg9IjAiIHN0eWxlPSJ0cmFuc2l0aW9uOiBhbGwgMC4zcyBlYXNlIDBzOyI+PC9wYXRoPgogICAgICAgICAgICAgIDwvc3ZnPg==);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#foto6 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMTkuNywtMzEuOEMyNS45LC0zMC41LDMxLjcsLTI2LjEsMzUuNSwtMjAuMkMzOS4zLC0xNC40LDQxLjEsLTcuMiwzOS45LC0wLjdDMzguOCw1LjgsMzQuNiwxMS43LDMwLjIsMTYuNUMyNS44LDIxLjMsMjEuMiwyNS4xLDE2LjIsMjcuMkMxMS4xLDI5LjQsNS42LDMwLC0wLjQsMzAuNkMtNi4zLDMxLjMsLTEyLjYsMzIsLTE3LjYsMjkuOEMtMjIuNiwyNy42LC0yNi4zLDIyLjUsLTI4LjUsMTdDLTMwLjYsMTEuNiwtMzEuMSw1LjgsLTMyLjMsLTAuN0MtMzMuNSwtNy4yLC0zNS40LC0xNC4zLC0zMy4xLC0xOS41Qy0zMC44LC0yNC43LC0yNC40LC0yNy45LC0xOC4yLC0yOS4yQy0xMiwtMzAuNSwtNiwtMjkuOSwwLjQsLTMwLjZDNi43LC0zMS4yLDEzLjUsLTMzLjEsMTkuNywtMzEuOFoiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwIDUwKSIgc3Ryb2tlLXdpZHRoPSIwIiBzdHlsZT0idHJhbnNpdGlvbjogYWxsIDAuM3MgZWFzZSAwczsiPjwvcGF0aD4KICAgICAgICAgICAgICA8L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* Estilos para la tabla */
#seccionTabla {
  padding: 52px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#seccionTabla .subtitulo {
  padding: 10px 10px;
  border: 3px solid rgba(46, 73, 95, 0.726);
  border-radius: 10px;
  margin: 0px;
}

table {

  vertical-align: middle !important;
  font-family: 'Open Sans', sans-serif !important;
  
  
}

.oli {
  margin-top: 10px;
  margin-bottom: 10px;
}

thead {
  vertical-align: middle !important;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #04837c, #1a8386, #3782a5);
  color: white;
  font-family: "Sarala", sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  
}

td {
  font-family: "Play", sans-serif;
  background-color: #ace9dfc4;
  border-collapse: collapse;
  border: 3px solid rgb(243, 237, 237);
  vertical-align: middle !important;
  border-style: dashed;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  
}

a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none !important
}

tr:nth-child(even) {
  background-color: #b9b9b9;
}

/* Estilos para el carrousel */
#seccionCurso {
  background-image: url("../images/background1.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  padding: 160px 0 160px 0;
}

.cont2 {
  display: flex;
}

.block-info {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #e4efe7;
  object-fit: cover;
}

.block-img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}


footer {
  height: 260px;
  background-color: black;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center; 
  justify-content: center;
  
}

footer img {
  width: 150px;
  height: 150px;
}

.footer-imagen {
  width: 600px;
  height: 200px;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 5px;
}

footer a {
  color: #6c757d;
  text-decoration: none;
}

.carousel-item img {
  width: 485px;
  height: 400px;
  object-fit: cover;
}

.block-info h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Play", sans-serif;
}

.block-info p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Play", sans-serif;
}



  /* Contenedores */

.contenedor-p { 
  background-color: #fafafa00;
  width: 95%;
  max-width: 1300px;
  margin: 35px auto;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  
}



.cofundadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.cofundador {
  text-align: center;
  margin: 5px;
  
 
}

.cofundador img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
}

.nombres {
  margin-top: 5px;
  font-size: 14px;
}

  /* Estilos para los elementos de la sección de grupos */
  .feature {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  /* Estilos para los elementos de la sección de grupos cuando se les hace hover */
  .feature:hover {
    background-color: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }

  

/*--------- seccion productos mas vendidos ----------------*/
.section-p{
  background-color: #fff;
}

.contenedor-p { 
  background-color: #FAFAFA;
  margin-top: 0;
  width: 95%;
  max-width: 1300px;
  margin-top: 0;
  margin: 35px ;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  

}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card-p{
  border-radius: 15px;
  background-color: #fff;
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  transition: 0.2s all;
}
.card-p:hover{
  transform: scale(1.05);
}


.card-img-top{
border-radius: 10px;
object-fit: contain;
max-height: 240px;
}



.carousel-p {
  padding: 1em;
}

